/*
 * Datenbankvorlage Abstimmung
* Version 1
 * @Autor 2022 Florian Dagner
 * @license CC BY-NC-SA 2.0 DE
 */

 .head {
   text-align: center;
   font-size:2.5rem;
   margin-top:40px;
   margin-bottom:40px;
   }
   
   #qrcode {
   position:absolute;
   }
   
   .barchart {
      border-bottom: 2px solid #000;
      width: 99%;
      max-width: 1200px;
      max-height: 40vh; 
      aspect-ratio: 21/9;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      justify-content: center;
      align-items: flex-end;
       gap: 5%;
      margin: 0 auto;
   margin-bottom: 50px;
   background-color: #fff;
   }
   
   @keyframes chartheight {
      from {
         height: 0;
      }
      to {
      }
   }
   
   @keyframes bartopdisplay {
      0% {
         opacity: 0;
      }
      98% {
         opacity: 0;
      }
      99% {
         opacity: 1;
      }
   }
   
   .bar {
      animation-name: chartheight;
      animation-duration: 3s;
      width: 15%;
      position: relative;
      text-align: center;
   }
   
   .legend {
      position: absolute;
      bottom: 0;
     font-size: calc(13px + (26 - 13) * ((100vw - 320px) / (1600 - 320)));
      transform: translateY(100%);
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
       text-overflow: ellipsis;
       overflow: hidden;
       -moz-text-overflow: ellipsis;
   }
   
   .bartop {
      text-align: center;
      position: absolute;
      margin-top: -40px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 1.5rem;
      animation-name: bartopdisplay;
      animation-duration: 3s;
   }
   body:fullscreen {
     overflow: auto!important;
   }
   #fullscreen:fullscreen .barchart {
   background-color: #fff;
   }
   
   #fullscreen:fullscreen {
   background-color: #fff;
   }
   
   #fullscreen:fullscreen .bartop {
   font-size: 2rem;
   }
   
   #fullscreen:fullscreen .head {
   font-size: 2.5rem;
   margin-bottom:40px;
   }
   
    #fullscreen:fullscreen #expand-icon {
       display: none;
     }
   
   #fullscreen:fullscreen #expand-icon {
       display: none;
     }
     
     #compress-icon {
       display: none;
     }
     
     #fullscreen:fullscreen #compress-icon {
       display: inline;
     }