];
function countDuplicates(obj, num){
  obj[num] = (++obj[num] || 1);
  return obj;
}
let answer = array.reduce(countDuplicates, {});
// let uniqueNums = Object.keys(answer);
 let uniqueNums = ["😀","😐","🙁"];
let countOfNums = uniqueNums.map(key => answer[key]);
let uniqueNums2 = uniqueNums.map(key => +key);

let elements = uniqueNums;
const barchart = document.getElementById("links");
barchart.style.minWidth = uniqueNums.length*100 + "px";
elements.forEach((element, index) => {
var counts = countOfNums[index];
counts = counts ?? "0";
    const container = document.createElement("div");
    container.classList.add("bar");
    container.style.height = counts*100/array.length + "%"
    container.style.backgroundColor = '#'+ Math.floor(Math.random()*16777215).toString(16);
    container.style.border = "1px solid #000";
    container.innerHTML = '<div class="bartop">' + counts  + '</div><div class="legend">' + element + '</div>';
  barchart.appendChild(container);
});


  document.getElementById('counter').innerHTML = array.length ;
    </script>
<br><br><br><p style="font-size: x-large
;text-align:center;margin-top:40px;"><i class="fa fa-users"></i> <span id="counter"></span></p>
</div>
<script>document.getElementById('counter').innerHTML = array.length ;</script>
<script>
  const exitBtn = document.getElementById('compress-icon');
  
  exitBtn.addEventListener('click', ()=>{
      if (document.fullscreenElement) {
          document.exitFullscreen();
      }
  });</script>
