<div id="fullscreen" style="background-color: #fff">
  <script>
  window.addEventListener("load", () => {
    var qrc = new QRCode(document.getElementById("qrcode"), {
      text: window.location.href,
      width: 200,
      height: 200,
      colorDark: "#000000",
      colorLight: "#ffffff",
      // QRCode.CorrectLevel.L | QRCode.CorrectLevel.M | QRCode.CorrectLevel.H
      correctLevel : QRCode.CorrectLevel.H
    });
  });
  </script><p class="head"><a href="#card" accesskey="v" onclick="let el = document.getElementById('fullscreen'); el.requestFullscreen();" style="margin-right: 10px" id="expand-icon"><i class="fa fa-expand" aria-hidden="true"></i></a> <a href="#card" accesskey="v" onclick="let ex = document.getElementById('fullscreen'); ex.exitFullscreen();" style="margin-right: 10px" id="compress-icon"><i class="fa fa-compress" aria-hidden="true"></i></a>
  
  Wie ist eure Stimmung?</p>
  
  <script>
              // Run once per session.
              if ((typeof sessionStorage !== 'undefined') &&
                  (sessionStorage.getItem('ChangeEntriesReload') === null)) {
  
                  // Set url for 1000 entries per site.
                  const params = new URLSearchParams(location.search);
                  params.set('perpage', 1000);
                  window.history.replaceState({}, '', `${location.pathname}?${params}`);
                  // Reload page.
                  window.location.reload();
  
                  console.log('ok');
  
                  sessionStorage.setItem('ChangeEntriesReload', true);
              }
          </script>
  <div id="barchart"><div class="barchart" id="links"></div></div>
   <script type="text/javascript">
  let array = [