<div class="defaulttemplate"><table class="mod-data-default-template ##approvalstatusclass##">
<tbody><tr class="lastrow">
<td class="template-field cell c0" style="">Auswahl: </td>
<td class="template-token cell c1 lastcol" style="">[[Auswahl]]</td>
</tr>
</tbody>
</table>
</div>