<table class="table" style="max-width: 500px">
    <caption style="caption-side: top">##userpicture## ##user##</caption>
    <tr><th class="bg-danger text-white">Auswahl</th><td>[[Auswahl]]</td></tr>
    <tr><th class="bg-danger text-white">Eintrag am</th><td>##timeadded##</td></tr>
    <tbody>
    </table>
    <hr>
    ##delete## ##edit##<br><span style="font-size: small;">zuletzt geändert: ##timemodified##</span>